<%= stylesheet_link_tag "articles/style_show", :media => "all" %>
<div class="wrapper">
    <main>
    <!-- サイドバー -->
        <div class="sidebar">
            <button class="nav_toggle">
                <i></i>
                <i></i>
                <i></i>
            </button>
            <div class="nav">
                <a href="../top.html"><img class="logo" src="../images/logo.png" alt="logo" width="60px" height="60px"></a>
                <form class="search" action="" method="post">
                    <input class="form_size" type="search" name="search" placeholder="Enter a keyword">
                    <button><i class="fas fa-search"></i></button>
                </form>
                <button><a href="../profiles/my_show.html" class="new_btn">MY PAGE</a></button>
                <button><a href="../articles/new.html" class="new_btn">POST</a></button>
                <button><a href="###" class="new_btn">LOGOUT</a></button>
                <h3>MY ROOM</h3>
                <div class="container">
                    <ul class="rooms">
                        <li><a href="../messages/show.html">CG講習会</a></li>
                        <li><a href="../messages/show.html">物理勉強会</a></li>
                        <li><a href="../messages/show.html">サイト作成</a></li>
                        <li><a href="../messages/show.html">リノベプロジェクト</a></li>
                        <li><a href="../messages/show.html">設計コンペ</a></li>
                        <li><a href="../messages/show.html">模型手伝い</a></li>
                        <li><a href="../messages/show.html">就職相談</a></li>
                        <li><a href="../messages/show.html">文章添削</a></li>
                        <li><a href="../messages/show.html">英会話</a></li>
                        <li><a href="../messages/show.html">神楽坂ランチ研究会</a></li>
                        <li><a href="../messages/show.html">映画鑑賞</a></li>
                    </ul>
                </div>
                <h4 class="search_head">SEARCH</h4>
                <div class="category_search">
                    <h4>CATEGORY</h4>
                    <ul class="nav_menu_ul">
                        <li class="nav_menu_li"><a href="../articles/index.html">スキルアップ</a></li>
                        <li class="nav_menu_li"><a href="../articles/index.html">チャレンジ</a></li>
                        <li class="nav_menu_li"><a href="../articles/index.html">ヘルプ</a></li>
                    </ul>
                    <h4>UNIVERSITY</h4>
                    <ul class="nav_menu_ul">
                        <li class="nav_menu_li"><a href="../articles/index.html">青山</a></li>
                        <li class="nav_menu_li"><a href="../articles/index.html">亜細亜大学</a></li>
                        <li class="nav_menu_li"><a href="../articles/index.html">桜美林大学</a></li>
                        <li class="nav_menu_li"><a href="../articles/index.html">大妻女子大学</a></li>
                        <details>
                            <summary>more</summary>
                            <div class="details_content">
                                <li class="nav_menu_li"><a href="../articles/index.html">北里大学</a></li>
                                <li class="nav_menu_li"><a href="../articles/index.html">杏林大学</a></li>
                                <li class="nav_menu_li"><a href="../articles/index.html">慶應義塾大学</a></li>
                                <li class="nav_menu_li"><a href="../articles/index.html">工学院大学</a></li>
                            </div>
                        </details>
                    </ul>
                    <h4>FACULTY</h4>
                    <ul class="nav_menu_ul">
                        <li class="nav_menu_li"><a href="../articles/index.html">経営</a></li>
                        <li class="nav_menu_li"><a href="../articles/index.html">法学</a></li>
                        <li class="nav_menu_li"><a href="../articles/index.html">理工</a></li>
                        <li class="nav_menu_li"><a href="../articles/index.html">情報</a></li>
                        <details>
                            <summary>more</summary>
                            <div class="details_content">
                                <li class="nav_menu_li"><a href="../articles/index.html">建築</a></li>
                                <li class="nav_menu_li"><a href="../articles/index.html">文学</a></li>
                                <li class="nav_menu_li"><a href="../articles/index.html">哲学</a></li>
                                <li class="nav_menu_li"><a href="../articles/index.html">教育</a></li>
                            </div>
                        </details>
                    </ul>
                </div>
            </div>
        </div>
    <!-- メインコンテンツ -->
        <div class="topic">
            <h1>ALL TOPIC</h1>
            <div class="post">
                <a href="../articles/show.html"><img class="post-img" src="../images/category/charange.jpg" alt="最終イメージ"></a>
                <div class="conhesive">
                    <h2>タイトルが入ります</h2>
                    <div class="explain">
                        <div class="content">
                            <h4>CONTENT</h4>
                            <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                        </div>
                        <div class="conditions">
                            <h4>CONDITIONS</h4>
                            <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                        </div>
                        <div class="skill">
                            <h4>SKILL</h4>
                            <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                        </div>
                    </div>
                    <div class="btns">
                        <button><i class="fas fa-heart"></i></button>
                        <button><a href="../articles/show.html" id="more_btn">詳細</a></button>
                    </div>
                </div>
            </div>
            <div class="post">
                <a href="../articles/show.html"><img class="post-img" src="../images/category/charange.jpg" alt="最終イメージ"></a>
                <div class="conhesive">
                    <h2>タイトルが入ります</h2>
                    <div class="explain">
                        <div class="content">
                            <h4>CONTENT</h4>
                            <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                        </div>
                        <div class="conditions">
                            <h4>CONDITIONS</h4>
                            <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                        </div>
                        <div class="skill">
                            <h4>SKILL</h4>
                            <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                        </div>
                    </div>
                    <div class="btns">
                        <button><i class="fas fa-heart"></i></button>
                        <button><a href="../articles/show.html" id="more_btn">詳細</a></button>
                    </div>
                </div>
            </div>
            <div class="post">
                <a href="../articles/show.html"><img class="post-img" src="../images/category/charange.jpg" alt="最終イメージ"></a>
                <div class="conhesive">
                    <h2>タイトルが入ります</h2>
                    <div class="explain">
                        <div class="content">
                            <h4>CONTENT</h4>
                            <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                        </div>
                        <div class="conditions">
                            <h4>CONDITIONS</h4>
                            <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                        </div>
                        <div class="skill">
                            <h4>SKILL</h4>
                            <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                        </div>
                    </div>
                    <div class="btns">
                        <button><i class="fas fa-heart"></i></button>
                        <button><a href="../articles/show.html" id="more_btn">詳細</a></button>
                    </div>
                </div>
            </div>
            <div class="post">
                <a href="../articles/show.html"><img class="post-img" src="../images/category/charange.jpg" alt="最終イメージ"></a>
                <div class="conhesive">
                    <h2>タイトルが入ります</h2>
                    <div class="explain">
                        <div class="content">
                            <h4>CONTENT</h4>
                            <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                        </div>
                        <div class="conditions">
                            <h4>CONDITIONS</h4>
                            <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                        </div>
                        <div class="skill">
                            <h4>SKILL</h4>
                            <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                        </div>
                    </div>
                    <div class="btns">
                        <button><i class="fas fa-heart"></i></button>
                        <button><a href="../articles/show.html" id="more_btn">詳細</a></button>
                    </div>
                </div>
            </div>
            <div class="post">
                <a href="../articles/show.html"><img class="post-img" src="../images/category/charange.jpg" alt="最終イメージ"></a>
                <div class="conhesive">
                    <h2>タイトルが入ります</h2>
                    <div class="explain">
                        <div class="content">
                            <h4>CONTENT</h4>
                            <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                        </div>
                        <div class="conditions">
                            <h4>CONDITIONS</h4>
                            <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                        </div>
                        <div class="skill">
                            <h4>SKILL</h4>
                            <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                        </div>
                    </div>
                    <div class="btns">
                        <button><i class="fas fa-heart"></i></button>
                        <button><a href="../articles/show.html" id="more_btn">詳細</a></button>
                    </div>
                </div>
            </div>
            <div class="post">
                <a href="../articles/show.html"><img class="post-img" src="../images/category/charange.jpg" alt="最終イメージ"></a>
                <div class="conhesive">
                    <h2>タイトルが入ります</h2>
                    <div class="explain">
                        <div class="content">
                            <h4>CONTENT</h4>
                            <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                        </div>
                        <div class="conditions">
                            <h4>CONDITIONS</h4>
                            <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                        </div>
                        <div class="skill">
                            <h4>SKILL</h4>
                            <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                        </div>
                    </div>
                    <div class="btns">
                        <button><i class="fas fa-heart"></i></button>
                        <button><a href="../articles/show.html" id="more_btn">詳細</a></button>
                    </div>
                </div>
            </div>
        </div>
    </main>  
    <!-- フッター -->
    <footer>
        <small>© 2020 YutaToyomi</small>
        <ul class="sns_buttons">
            <li>
                <a rel="nofollow" href="http://twitter.com/share?text=【大学生のためのコミュニティサイト〇〇】&url=【URL】&hashtags=【〇〇】"
                    onclick="window.open(encodeURI(decodeURI(this.href)), 'tweet_window',
                    'width=600, height=470, toolbar=no, scrollbars=yes, resizable=yes'); return false;">
                    <i class="fa fa-twitter-square"></i>
                </a>
            </li>
            <li>
                <a rel="nofollow" href="http://www.facebook.com/share.php?text=【大学生のためのコミュニティサイト〇〇】&url=【URL】&hashtags=【〇〇】"
                    onclick="window.open(encodeURI(decodeURI(this.href)), 'facebook_window',
                    'width=600, height=470, toolbar=no, scrollbars=yes, resizable=yes'); return false;">
                    <i class="fa fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a rel="nofollow" href="http://line.me/R/msg/?【大学生のためのコミュニティサイト〇〇】url=【URL】"
                    onclick="window.open(encodeURI(decodeURI(this.href)), 'line_window',
                    'width=600, height=470, toolbar=no, scrollbars=yes, resizable=yes'); return false;">
                    <i class="fab fa-line"></i>
                </a>
            </li>
        </ul>
    </footer>
</div>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<%= javascript_pack_tag 'js/func' %>
