<%= form_for [a, @request] do |f| %>
    <%= f.text_area :message, wrap:"hard", :placeholder => "Request comment" %>
    <% if current_user.already_requested?(@article) %>
        <%= link_to article_request_path(@article), method: :delete do %>
            <button class="join_btn">CANCEL</button>
        <% end %>
    <% else %>
        <%= link_to article_requests_path(@article), method: :post do %>
            <button class="join_btn">JOIN</button>
        <% end %>
    <% end %>
<% end %>